<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.baby"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.example.baby.SearchActivity"></activity>
        <activity android:name="PersonalMessage"></activity>
 
        <activity
            android:name=".LiaoTianActivity"></activity>
        <activity
            android:name=".TalkingAboutActivity"></activity>
         <activity
            android:name="com.example.baby.Note_Fragment"></activity>
        <activity
            android:name="com.example.baby.Activity_fabiaojiyi"></activity>
        <activity
            android:name="com.example.baby.Activity_gexingdiy"></activity>
      
        <activity
            android:name="com.example.baby.Activity_xiangcehuiyi"></activity>
        <activity
            android:name="com.example.baby.Activity_youjiyidemoshi"></activity>
        <activity
            android:name="com.example.baby.Text_shouye"></activity>
        <activity
            android:name="com.example.baby.Tiao_yemiao_xf"></activity>
        <activity
            android:name="com.example.baby.Xiangcehuiyi_Activity"></activity>
        <activity
            android:name="com.example.baby.Zhuye_xf"></activity>
        <activity
            android:name=".GuanFangActivity"></activity>
        <activity android:name="com.example.baby.MainActivity">
               <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
